html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Philosopher', sans-serif;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

#brand {
	font-size: 30px !important;
	padding-top: 20px;
	color: #555;
	font-weight: 600;
}

.navbar1 {
	padding-left: 15px !important;
}

.search-container {
	padding-top: 15px;
	padding-left: 30px;
	float: left;
	padding-right: 50px;
}

.search-container input {
	padding-bottom: 5px;
	width: 450px;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: inherit;
	border-bottom-width: 1px;
	border-bottom-color: silver;
	overflow: hidden;
}

.shape {
	position: relative;
	right: 23px;
}

.nav .li-1 {
	padding-left: 15px;
	border-left: 1px;
	border-left-style: solid;
	border-color: silver;
	height: 29px;
	margin-top: 13px;
}

.nav li a {
	position: relative;
	bottom: 12px;
	color: #555;
}

.nav li a:hover {
	color: silver !important;
}

.nav li img {
	padding-right: 8px;
	padding-bottom: 2px;
}

.nav .li-2 {
	padding-left: 5px;
	padding-right: 15px;
	border-right: 1px;
	border-right-style: solid;
	border-color: silver;
	height: 29px;
	margin-top: 13px;
}

.nav .li-3 {
	border-left: 1px !important;
	border-left-style: solid;
	border-color: silver;
	height: 29px;
	margin-top: 13px;
}

.navbar2 {
	padding-top: 65px;
	height: 95px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: silver !important;
	background-color: #fff;
}

.nav2 {
	padding-left: 250px;
	letter-spacing: 2px;
	background-color: #fff;
}

.nav2-ul li {
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 2px;
}

.dropdown-toggle {
	margin-right: 70px;
}
/*
.drop:hover .gee {
	display: fl
} */

a {
	color: #555;
}


       
li {
	list-style-type: none;
}

.dropdown-content {
	margin-top: 5px;
	letter-spacing: 1px;
	line-height: 40px;
	border-bottom-color: silver;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	display: none;
	height: 350px;
}

.dropdown-content ul >li>ul>li>a {
	
	line-height: 10px;
}

.dropdown-content2 {
	margin-top: 5px;
	line-height: 40px;
	border-bottom-color: silver;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	display: none;
	height: 350px;
}

.dropdown-content2 ul >li>ul>li>a {
	
	line-height: 10px;
}

.dropdown-content3 {
	margin-top: 5px;
	letter-spacing: 1px;
	line-height: 40px;
	border-bottom-color: silver;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	display: none;
	height: 350px;
}

.dropdown-content3 ul >li>ul>li>a {
	
	line-height: 10px;
}

.dropdown-content4 {
	margin-top: 5px;
	letter-spacing: 1px;
	line-height: 40px;
	border-bottom-color: silver;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	display: none;
	height: 350px;
}

.dropdown-content4 ul >li>ul>li>a {
	line-height: 10px;
}

.drop-content {
	z-index: 100;
	background-color: #fff;
	padding-top: 40px;
}

.dropdown-toggle {
	cursor: default;
}


.col-right {
	line-height: 20px;
}

h4 {
	font-size: 20px;
}

.read-more  {
	text-decoration: underline !important;
}

.read-more:hover {
	color: #555;
}

.col-split {
	border-right: solid;
	border-right-width: 1px;
	border-right-color: silver;
	padding-right: 0;
}

.show {
	display: flex !important;

}

.hide {
	display: none;
}

/* Carousel section */
.carousel-content-box {
	height: 600px;
	position: relative;
	bottom: 20px;
}

.hero {
	padding: 0;
}

.item {
	height: 600px;
	width: 100%;
}

.text-sm {
	font-size: 20px;
	letter-spacing: 2px;
	color: #fff;
}

.text-bg {
	font-size: 70px;
	letter-spacing: 10px;
	color: #fff;
}

.hero-caption {
	margin-bottom: 50px;
	padding-top: 160px;
}

.hero-btn-btn {
	letter-spacing: 3px !important;
	padding: 15px 60px !important;
	background-color: #fff !important;
	color: #555 !important;
}

.hero-btn-btn:hover {
	color: #fff !important;
	background-color: #555 !important;
}



/* Carousel background images */
.c1 {
	background-image: url("https://images.unsplash.com/photo-1553474157-5f29a57c167f?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
	background-position: center;
	background-size: cover;
}

.c2 {
	background-image: url("https://images.unsplash.com/photo-1553152531-b98a2fc8d3bf?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
	background-position: center;
	background-size: cover;
}

.c3 {
	background-image: url("https://images.unsplash.com/photo-1551573355-19727699d60a?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
	background-position: center;
	background-size: cover;
}




/*===========================*/

.dropdown:hover {
	text-decoration: none !important;
	color: black !important;
}
/*
#grid .col-md-3 {
	text-align: center;
}
*/

/* Features Carousel */
.bottom {
	padding-left: 10px;
}



.content h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 1px;
  font-style: italic;

}

.content {
	margin-bottom: 45px;
}

.content-box  .bottom p {
  color: #555;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  border-top: 5px;
}

.content {
	width: 250px;
	border: 2px solid silver;
	height: 400px;
}

.social {
	width: 20px;
	 height: 20px;
	 float: left;
	 margin-right: 40px;
}


.btn-general {
	width: 200px;
	padding: 15px 20px;
	background: #555;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	border-style: solid;
	border-width: 1px;
	text-decoration: none !important;
}


.btn-general:hover {
	transition: ease 1s;
	background: #fff;
	color: #555;
	border-color: #555;

}

.top {
	width: inherit;
	height: 250px;
	padding-right: 2px;
	border-bottom: 1px solid silver;
	overflow: hidden;
}

.top:hover {
	overflow-y: scroll;
}

.top-content {
	display: none;
}

.top-content h5 {
	font-weight: 800;
	padding: 2px 0;
	text-align: center;
}

.top-content li {
	font-weight: 600;
	font-size: 13px;
	list-style: circle;
	padding-bottom: 10px;
}

.top img {
	width: 100%;
	height: 250px;
	display: flex;
}

.top:hover img {
	display: none;
	transition: ease-out .5s;
}

.top:hover .top-content {
	display: block;
	transition: ease-in .5s;

}

.bottom:hover .top-content {
	display: block;
	overflow-y: scroll;
}

#semi-footer h4 {
	font-size: 16px;
	padding-bottom: 10px;
}

#semi-footer a {
	text-decoration: none;
	display: block;
	padding-bottom: 10px;
}

#semi-footer {
	padding-top: 50px;
	border-top-style: solid;
	border-top-width: 1px !important;
	border-top-color: whitesmoke;
}

#semi-footer {
	padding-left: 100px;
	padding-right: 100px;
	background: whitesmoke;
	padding-bottom: 30px;
}

.email a {
	height: 42px;
	padding: 10px 20px 20px 20px;
	background-color: #555;
	color: #fff;
}

.icon {
	width: 20px;
	height: 20px;
	margin-right: 30px;
}

.footer {
	height: 40px;
}

.footer a {
	color: #fff;
	position: relative;
	left: 70%;
	bottom: 30px;
	padding: 5px 20px 5px 15px;
	border-right: 1px solid #fff;

}

a {
	text-decoration: none !important;
}

/*
.chat a {
	width: 170px;
	border: 1px solid #fff;
}

.chat a:hover {
	transition: ease-in 1s;
	background-color: #333 !important;
}

*/

#customNav {
	position: absolute;
	top: 870px;
	left: 10px;
	right: 10px;
}

#customNav .owl-prev, #customNav .owl-next {
	position: absolute;
	height: 100px;
	color: inherit;
	border: none;
	z-index: 100;
	background-color: #fff !important;
}

.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}

#customNav2 {
	position: absolute;
	top: 200px;
	left: 10px;
	right: 10px;
}

#customNav2 .owl-prev, #customNav2 .owl-next {
	position: absolute !important;
	height: 100px;
	color: #fff;
	border: none;
	z-index: 200;
	background-color: inherit;
}
